/* 8 interpolation */
vendor(property, arg)
  proterty arg
  -webkit-{property} arg
  -moz-{property} arg

/* 4 mixin */
border-radius(radius = 5px) /* -webkit-border-radius radius */
  /* border-radius 5px */
  /* border-radius radius */
  vendor('border-radius', radius)

transition(args)
  vendor('transition' args)

/* 9 conditional statements */
test(var)
  margin-top unit(var, 'px')
  if var > 10
    backgroud red
  else
    backgroud blue


cf()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both


