/* 5 Importing and global stylus */
/* @import 'stylus/global' */
/* @import 'stylus/mixin' */

/* import all config files */
/* npm install nib -g */
@import 'stylus/*'
@import 'nib'

/* 11 nib extension for stylus */
normalize-base()
reset-html5()

/* 6 Built-In Functions */

/* 7 write custom Function */
add(a, b, c = 4)
  a + b + c
  
marg(a, b)
  return a a+10 a*b 

 /* 2 concept basic */
body 
  background linear-gradient(top, 80% white, red, yellow, black)
  background primary
  fixed top 20px left 20px
  /* absolute top left */
  margin-left 5em

  h1
    font-size 5rem
    color desaturate(red, 50%)

  span 
    color tint(pink, 50%)
    font-size 3rem
    margin-left add(4px,2%,3.5em)


  main
    margin marg(10px, 20)
    margin-top abs(60px)
    color rgba(violet,0.2)
    transition(all 0.2s ease)
    background-color @color
    border solid 1px @color
    /* border-radius(10px) */
    width 100px
    height 100px
    border-radius 20px
    test(true)
    cf()
    clearfix()
    a
      overflow ellipsis
      showdow-stroke(blue)
    cursor pointer


