/* 5 Importing and global stylus */
/* @import 'stylus/global' */
/* @import 'stylus/mixin' */
/* import all config files */
/* 6 Built-In Functions */
/* 7 write custom Function */
/* 2 concept basic */
body {
  background: #475cd1;
  margin-left: 5em;
}
body h1 {
  font-size: 5rem;
  color: #984b4b;
}
body span {
  color: #ffdfe5;
  font-size: 3rem;
  margin-left: 7.58px;
}
body main {
  margin: 10px 20px 200px;
  margin-top: 60px;
  color: rgba(238,130,238,0.2);
  background-color: rgba(238,130,238,0.2);
  border: solid 1px rgba(238,130,238,0.2);
/* border-radius(10px) */
  width: 100px;
  height: 100px;
/* -webkit-border-radius radius */
/* border-radius 5px */
/* border-radius radius */
  proterty: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  zoom: 1;
  cursor: pointer;
}
body main:after,
body main:before {
  content: "";
  display: table;
}
body main:after {
  clear: both;
}
